<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
    <%= meta.title %>
</title>
<meta name="description" content="<%= meta.description %> ">
<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/fontawesome/css/all.css">


<!-- data table  -->
<link rel="stylesheet" href="/assets/plugins/datatable/datatables.css">
<link rel="stylesheet" href="/assets/plugins/datatable/datatables.min.css">
<link rel="stylesheet" href="/assets/plugins/datatable/AutoFill-2.4.0/css/autoFill.bootstrap.min.css">
<link rel="stylesheet" href="/assets/plugins/datatable/Buttons-2.2.3/css/buttons.bootstrap.min.css">
<link rel="stylesheet" href="/assets/plugins/datatable/Responsive-2.3.0/css/responsive.bootstrap.min.css">

<link rel="stylesheet" href="/css/style.css">

<script src="/assets/jquery/jquery-3.6.1.min.js"></script>

<script src="/assets/plugins/datatable/jquery.dataTables.min.js"></script>
<script src="/assets/plugins/datatable/dataTables.colReorder.min.js"></script>

<script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>

